.message {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 60%;
    border-radius: 10px;
    padding: 4px 8px;
    margin-bottom: 4px;
    overflow-wrap: anywhere;
}

.message p {
    padding: 5px 0px;
    margin: 0;
    overflow-wrap: anywhere;

}

.message small {
    padding: 0;
    margin: 0;
    font-size: 10px;
    opacity: 0.8;
}

.message.alien {
    background: green;
    align-items: end;
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0px;
}

.message.own {
    background: yellow;
    align-items: start;
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 0px;
}
